@import "tailwindcss";
<<<<<<< HEAD

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-lgt: #e8e8e8;
  --color-primary-drk: #101010;
  --color-second-lgt: #d4d4d4;
  --color-second-drk: #252525;
  --color-destaque-primary: #ff6828;
  --color-destaque-second: #666666;
  --color-tertiary-drk: #1a1a1a;
  --color-tertiary-lgt: #cccccc;
}
=======
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
>>>>>>> 9e791c53fd2f35d01515d84226868c7d2d04ecaa
